<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>

<body>

    <header>
        <div th:replace="~{fragments/navbar :: navbar}"></div>
    </header>

    <main>
        <h1>Books</h1>

        <div th:if="${books.isEmpty()}">
            <p>No books have been added yet.</p>
        </div>

        <div th:unless="${books.isEmpty()}">

            <table border="1">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Year</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="book : ${books}">
                        <td th:text="${book.title}">
                            Book Title
                        </td>

                        <td th:text="${book.author}">
                            Author
                        </td>

                        <td th:text="${book.year}">
                            Year
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </main>

</body>
</html>